resource_group_name     = "942-1f22517e-build-an-azure-devops-pipeline-for-te"
azp_token               = "b2yf3zv2kkc5zljre7l4hgmri4ungjyzycbgnet2vxebrjwegota"
azp_org_name            = "clouduserp57519159"
